{% extends 'base.html' %} {% block contenido %}
{% load static %}


<div class="row justify-content-center m-4" style="background-color: rgba(255,255,255,1);">
    
    <div class="col-sm-8">
<div class="card">
<div class="card-header" style="background-color: #00D879; color: white;">

    FINALIZAR PEDIDO
</div>
<div class="card-body">
  <form method="POST">

        {% csrf_token %}
        {{formulario}}
        <hr>
        <button type="submit" class="btn btn-warning"> Finalizar </button>
    </form>

</div>

</div>
      

    </div>
    

</div>


</div>
{% endblock %}